.bg {
    image-rendering: pixelated;
    z-index: -5;

    object-fit:cover;
    position: absolute;
    left:0;
    bottom: 0;

    min-width: 1920px;
    min-height: 1080px;

    width: 100%;
    height: 100%;
}

.nemo {
    position: fixed;
    right: 0;
    height: 99%;
    z-index: -1;
    filter: brightness(2) grayscale(10);
    opacity: 40%;
    object-fit: cover;
}