
@font-face {
    font-family: "Coiny";
    src:
        local("Coiny"),
        url("../font/Coiny/Coiny-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Flavors";
    src:
        local("Flavors"),
        url("../font/Flavors/Flavors-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Itim";
    src:
        local("Itim"),
        url("../font/Itim/Itim-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bricolage Grotesque";
    src:
        local("Bricolage Grotesque"),
        url("../font/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf") format("truetype-variations");
    font-weight: 200 800;
}

@font-face {
    font-family: "Okay Jelly";
    src:
        local("OkayJelly"),
        url("../font/OkayJelly.otf") format("opentype");
}

@font-face {
    font-family: "Fredoka";
    src:
        local("Fredoka"),
        url("../font/Fredoka-Variable.ttf") format("truetype");
    font-weight: 200 800;
}

/* <weight>: Use a value from 200 to 800 */
.bricolage-grotesque-standard {
  font-family: "Bricolage Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.coiny-regular {
    font-family: "Coiny", serif;
    font-weight: 400;
    font-style: normal;
  }