<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<title>{{ title }} / {{ site.title }}</title>

	<!-- Meta -->
	<meta name="description" content="Game Developer and Community Organiser">
	<meta name="author" content="Siobhan Dent">
	<meta name="keywords" content="siobhan, siobhan dent, video games, melbourne">

	<meta property="og:title" content="Siobhan Dent" />
	<meta property="og:description" content="Game Developer and Community Organiser" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://url.place/" />
	<meta property="og:image" content="https://url.place/preview.png" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@famousGastropod" />
	<meta name="twitter:title" content="Siobhan Dent" />
	<meta name="twitter:description" content="Game Developer and Community Organiser" />
	<meta name="twitter:image" content="https://sabby.gallery/preview.png" />

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	<!-- FontAwesome -->
	<script src="https://kit.fontawesome.com/87224a5bfc.js" crossorigin="anonymous"></script>

	<!-- Twemoji -->
	{# <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous" defer></script> #}

	<!-- Scripts -->
	<script src="/js/script.js" defer></script>
	{% block scripts %}

	{% endblock %}
	<style>
	{% block style %}

	{% endblock %}
	</style>
</head>

<body>
	<script>
		if (typeof(theme) === 'undefined') { let theme = null; }
		theme = localStorage.getItem('theme') || 'system';
		document.documentElement.dataset.theme = theme;
	</script>

	<header>
		<a href="/" title="Home" id="masthead">
			<img id="logo" src="/img/logo.png" alt="Sabby's logo">
			<!--<div id="subtitle">{{ site.subtitle }}</div>-->
		</a>
		<nav>
			<ul>
				<li><button onclick="document.location='{{ "/events/" | url }}'">What's On</button></li>
				{# <li><button onclick="document.location='{{ "" | url}}'">Book The Space</button></li> #}
				<li><button onclick="document.location='{{ "/about/" | url }}'">About</button></li>
				<li><button onclick="document.location='{{ "/contact/" | url}}'">Contact</button></li>
				<li><button id="lightToggle" title="Toggle Light/Dark Mode"><i id="lighticon" class="fa-solid fa-sun"></i></button></li>
			</ul>
		</nav>
	</header>

	<main>
			{% block content %}
			{{ content | safe }}
			{% endblock %}
			<hr>
	</main>

	<footer>
		<section id="footer-info">
			<p id="acknowledgement">I live and work on the lands of the Wurundjeri Woi Wurrung people of the Kulin nation. .</p>
			<p><a href="{{ site.link.email }}">[email]</a> {{ site.email }}<br></p>
		</section>
		<section id="footer-credits">
			<p>{{ site.title }} &copy; <span id="currentYear">2024</span>
			<script>
				document.getElementById("currentYear").innerText = new Date().getFullYear();
			</script> / website by siobhan based on the work of <a href="https://cecilerichard.design/">cecile</a> and <a href="https://gleeson.dev/">andy</a></p>
			<a href="#"><p id="toTop">Back to Top ↑</p></a>
		</section>
	</footer>
</body>
</html>