{% extends "base.njk" %}

{% block content %}
	
<h1>{{ title }}</h1>
{% if date %}<date>{{ date | readableDate }}</date>{% endif %}
	
<img class="poster" src="/img/posters/{{ poster }}"></img>

<h2>{{ blurb }}</h2>

<article>
{{ content | safe }}
</article>

<hr>
{% include "partials/map.njk" %}
<hr>

<a href="/events/">See more events.</a>

{% endblock %}