{% extends "base.njk" %}

{% block content %}
	
<section id="project" class="flex-col" >	
	<div class="title">
		<h1>{{ title }}</h1>

		{% if year %}{{ year }}{% endif %} |

		{% for role in responsibilities %}
			{{ role }}{{ ", " if not loop.last }}
		{% endfor %}
		
	</div>

	<!-- TODO: CONVERT WEBP TO JPG -->
	<img class="poster flex-child" src="/img/projects/{{ imgpath }}/thumbnail.webp"></img>

	<article id="description" class="flex-child">
	<h2>{{ blurb }}</h2>
	{{ content | safe }}
	</article>
</section>

<section class="flex-col" id="screenshot-gallery">

<script>

	var bCheckEnabled = true;
	var bFinishCheck = false;

	var img;
	var i = 1;

	var myInterval = setInterval(loadImage, 1);

	function loadImage() {

		if (bFinishCheck) {
			clearInterval(myInterval);
			console.log('Loaded ' + i + ' image(s)!)');
			return;
		}

		if (bCheckEnabled) {

			bCheckEnabled = false;

			img = new Image();
			img.onload = fExists;
			img.onerror = fDoesntExist;
			img.src = "/img/projects/{{ imgpath }}/screenshot" + i + '.jpg';
		}

	}

	function fExists() {
		i++;
		bCheckEnabled = true;
		document.getElementById("screenshot-gallery").appendChild(img);
	}

	function fDoesntExist() {
		bFinishCheck = true;
		img = null;
	}

</script>

</section>

<hr>

<section class="frame" style="--frameBg: var(--wine)">
	<h1>
		<a href="/projects/">See more projects.</a>
	</h1>
</section>

{% endblock %}