.navbar a{
    font-size:x-large;
    margin: 0 auto 0 auto;
    text-decoration: none;
}


#home {
    color: aquamarine;
}

#writing {
    color:springgreen;
}

#blog {
    color: wheat;
}

#love {
    color: palevioletred;
}

#shower {
    color: lightblue;
}

#door {
    color:burlywood;
}