:root {
    --bg-primary: #000000;
    --bg-secondary: #000000;
    --bg-tertiary: #9c9ccdbe;
    --txt-primary: #ffffff;
    --txt-secondary: #ffc9ff;
    --txt-tertiary: rgb(225, 163, 236);
    
    --hr-colour: #ccc;

    background-color: var(--bg-primary);
    color: var(--txt-primary);
    
    font-family: "SUSE Mono";
}

/* 
============================
       MAIN PAGE LAYOUT
============================
*/

html {
  overscroll-behavior-y: none;
}

body {
    position: absolute;    
    width: 100%;
    height: 100%;
    margin: 1rem 0 0 0;
    
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin:auto;

    max-width: 80ch;
    overflow-y: scroll;

    min-width: 75ch;
}

/* 
============================
  ADJUSTMENTS TO BASE TAGS
============================
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--hr-colour);
    margin: 1em 0;
    padding: 0;
}

a {
    color: var(--txt-tertiary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--txt-secondary);
}

/*
============================
  GENERAL PURPOSE CLASSES
============================
*/

.container-general {
    border-radius: 0.5rem;
    background-color: var(--bg-secondary);
    padding: 1rem;  
    display: flex;
    gap: 0.25rem;

    border: 10px solid transparent;
    border-image:url("../public/img/stars.gif") 10 repeat;
    
}

.ver {
    flex-direction: column;
}

.hor {
    flex-direction: horizontal;
}

.container-general p {
    margin: 0;
}

.list-header {
    margin-bottom: 0;
}

.no-background {
    background-color: transparent;
    background: none;
}

.no-border {
    border: none;
    border-image: none;
}