---
title: About
layout: base.njk
permalink: /about/
---

<section>
<h1>About Sabby</h1>

<p>Located in what used to be a bánh mì place on Victoria Parade in Collingwood, Sabby is a gathering place by and for artists, game makers, crafters and zinesters of Narrm (Melbourne).</p>

<h2>What Sabby does</h2>

<p>Sabby is a co-working space, a gallery space, an events and functions space, a casual hang out space.</p>

<p>Sabby strives to be a <a href="/safe-spaces/">safe and inclusive space</a> that can be enjoyed by everyone.</p>

<h3>People of Sabby</h3>

<p>Sabby was founded in 2022 by Richard Adem, Maize Wallin and Kay-Lynn Cavanagh. These days Sabby is ran and maintained by

{% for person in site.people %}
	<a href="{{person.link}}" target="_blank">{{person.name}}</a>,
{% endfor %}

in various ways.
{# 
<ul>
	{% for person in site.people %}
		<li><a href="{{person.link}}" target="_blank">{{person.name}}</a></li>
	{% endfor %}
</ul> #}
</section>

<hr>

{% include "partials/map.njk" %}