---
title: About
layout: base.njk
permalink: /about/
---

<section>
<h1>About Sabby</h1>

<p>Located in what used to be a bánh mì place on Victoria Parade in Collingwood, Sabby is a gathering place by and for artists, game makers, crafters and zinesters of Narrm (Melbourne).</p>
<p>Sabby is open on Mondays and Tuesdays from 11 a.m. to 6 p.m., as well as during any public event.</p>

<h2>What Sabby does</h2>

<p>Sabby is a co-working space, a gallery space, an events and functions space, a casual hang out space.</p>

<p>Sabby strives to be a <a href="/safe-space-policy/">safe and inclusive space</a> that can be enjoyed by everyone.</p>

<h3>People of Sabby</h3>

<p>Sabby was founded in 2022 by Richard Adem, Maize Wallin and Kay-Lynn Cavanagh. These days Sabby is ran and maintained in various capacity by:

<ul>
	{% for person in site.people %}
		<li><!--<a href="{{person.link}}" target="_blank">-->{{person.name}}<!--</a>--> / {{person.role}}</li>
	{% endfor %}
</ul>
</section>

<hr>

{% include "partials/map.njk" %}