---
title: Calendar
layout: base.njk
permalink: /calendar/
---

<section>
<h1>{{ title }}</h1>
<p>Do you ever think about what's on this month and think, "ah I wish I could easily see all of this month's event in calendar format"?</p>
<p>Well, we've got great news for you:</p>

{% include "partials/calendar.njk" %}
</section>