---
title: Contact
layout: base.njk
permalink: /contact/
---

<section id="contact">
	<h1>Get in touch!</h1>

	<p>For general inquiries, you can <!--contact us directly via email at <a href="{{ site.link.email}}">gallerysabby [at] gmail.com</a>, or -->ask any question in the <a href="{{ site.link.discord }}" target="_blank">Sabby Discord</a>.</p>

	<p>We would love to hear from you!</p>
</section>

<hr>

<section id="booking">
	<h2>Your next event at Sabby?</h2>
	<p><i>Need an affordable event space</i>?</p>
	<p>Sabby is open for event bookings both public and private.</p>
	<p>Game jams, launch parties, gallery shows, playtest sessions, birthday parties, film screenings, book clubs... Sabby can do it all!</p>
	<p>Tell us about your event! Just fill out the <a href="{{ site.link.bookings }}" target="_blank">application form</a>, and we'll get back to you ASAP!</p>
</section>

<hr>

{% include "partials/socials.njk" %}