---
title: Contact
layout: base.njk
permalink: /contact/
---

<section>
	<h1>Get in touch!</h1>

	You can contact us directly via email at info [at] sabbatical.gallery, or ask any question in the <a href="{{ site.link.discord }}" target="_blaml">Sabby Discord</a>.


	<h2></h2>


	<p>We would love to hear from you!</p>

	<p>If you got ideas, please send them our way.</p>
</section>

{% include "partials/socials.njk" %}