---
title: Welcome
layout: base.njk
permalink: /
---

<section id="blurb">
	<h1>“A place that belongs to everyone, where everyone can belong.”</h1>
	<img src="../../img/home.jpg">
</section>

<section id="intro">
	<p>Sabby is a gathering place for artists, game makers, crafters and zinesters in Melbourne.</p>
	<p>The space itself is used for weekly co-working, meetings, exhibitions, and all sorts of casual community events!</p>
	<ul>
		<li><a href="/events/coworking/">Co-work at Sabby!</a></li>
		<li><a href="/events/">Check out our events!</a></li>
		<li><a href="/contact/">Book the space</a> for your own private or public events!</li>
		<li><a href="">Join the Discord</a> to meet cool folks and get the latest updates about events!</li>
	</ul>
</section>

<hr>

<section id="address" class="frame">
	{% include "partials/map.njk" %}
</section>

<hr>
	
</section>

