---
title: Welcome
layout: base.njk
permalink: /
---

<section id="blurb">
	<h1>Hey, I'm Siobhan!</h1>
	<img src="/img/home.jpg" alt="A filtered photo of Sabby during an event.">
</section>

<section id="intro">
	<p>
		I'm a multidisciplinary videogame artist and community organiser living in Naarm (Melbourne).
	</p>
	<p> Here are a couple of the things that I've been up to: </p>
	<ul>
		<li> I co-manage the playful co-working and gallery space <a href="{{ site.link.sabby }}">Sabby.</a></li>
		<li> I teach a free yearly Game-a-Week workshop. </li>
		<li> I share <a href="{{ site.link.itch }}">weird and wonderful games</a> with the world! </li>
	</ul>
</section>

<hr>

{% include "partials/socials.njk" %}

	
</section>

