---
layout: "layouts/base.liquid"
title: "HOME"
permalink: /home.html
---

<head>
<link rel="stylesheet" type="text/css" href="css/pages/home.css">
</head>

{% comment %} {% include "partials/sidenav.liquid" %} {% endcomment %}

<section class="content">

  {% include "partials/navbar.liquid" %}

  <div class="container-general ver">
    <p>I'm Siobhan, sometimes Neumoniaa or Nemo. She/it ΘΔ.</p>
    <p>Multimedia artist, game developer, Goodra irl, silly thing, complex beast.</p>
  </div>
</section>