---
layout: "layouts/base.liquid"
title: "SIOBHAN.CREATURE.LOVE"
permalink: /
---

<link rel="stylesheet" type="text/css" href="css/pages/landing.css">

{% comment %} {% include "partials/sidenav.liquid" %} {% endcomment %}

<header>
    {% comment %} <link rel="stylesheet" type="text/css" href="css/ticker.css">
    <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">Welcome to Slippy's Place!</div>
        <div class="ticker__item">I still dream of Orgonon</div>
        <div class="ticker__item">You know what would be the shit?</div>
      </div>
    </div> {% endcomment %}
</header>

<section class="content">  
    <a class="sludgeheart">
      <img src="/public/img/heart.png">
    </a>
    <p style="text-align: center;">In construction.</p>

</section>