---
layout: "layouts/base.liquid"
title: "Slippy's Place"
permalink: /
---

<link rel="stylesheet" type="text/css" href="css/pages/landing.css">

{% include "partials/sidenav.liquid" %}

<header>
    {% comment %} <h1 class="logo">Slippy's Place</h1> {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="css/ticker.css">
    <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">Welcome to Slippy's Place!</div>
        <div class="ticker__item">I still dream of Orgonon</div>
        <div class="ticker__item">You know what would be the shit?</div>
      </div>
    </div> {% endcomment %}
</header>

<section class="content">  
    <div class="container-general">
      <p>
        Hi! I'm Siobhan or Slippy (she/they). 
        
        This big ol' silly site is a hub for my artistic work, my hobbies, and any random thing I feel like giving a home to. I've remade my personal website a bunch of times, always feeling unsatisfied by it being too pared back and professional, or too loose and unprofessional, so it's time to face the music - I'm silly :)
      </p>
    </div>
</section>