---
layout: "layouts/base.liquid"
title: "SLDJHRT"
permalink: /
---

<link rel="stylesheet" type="text/css" href="css/pages/landing.css">

{% comment %} <header>
    <link rel="stylesheet" type="text/css" href="css/ticker.css">
    <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">I still dream of Orgonon</div>
        <div class="ticker__item">You know what would be the shit?</div>
        <div class="ticker__item">Yay! Yaay! Alriight!</div>
      </div>
    </div>
</header> {% endcomment %}

<section class="content">  
    <a class="sludgeheart" href="/home.html">
      <img src="/public/img/heart.png">
    </a>
    <p style="text-align: center;">In construction.</p>

</section>
