---
layout: "layouts/base.liquid"
title: "Slippy's Place"
permalink: /
---

<link rel="stylesheet" type="text/css" href="css/pages/landing.css">

{% comment %} {% include "partials/sidenav.liquid" %} {% endcomment %}

<header>
    <h1 class="logo">Hi!! Hello!!</h1>
    {% comment %} <link rel="stylesheet" type="text/css" href="css/ticker.css">
    <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">Welcome to Slippy's Place!</div>
        <div class="ticker__item">I still dream of Orgonon</div>
        <div class="ticker__item">You know what would be the shit?</div>
      </div>
    </div> {% endcomment %}
</header>

<section class="content">  
    <div class="container-general">
      <p>
        Hi! I'm Siobhan. 
        
        I make digital games and other forms of art. This page is in construction! Check back some time.
      </p>
    </div>
    
</section>