---
title: Past Events
layout: base.njk
permalink: /past-events/
---

<h1>Past Events</h1>

This is where all our events will go.

<ul>
{% for event in collections.past | reverse %}
	<li> <a href="{{event.url}}">
	<img class="poster-thumb" src="/img/posters/{{ event.data.poster }}"></img></a>
	</li>
{% endfor %}
</ul>

<hr>

<a href="/events/">See upcoming events.</a>