---
title: Past Events
layout: base.njk
permalink: /past-events/
---

<style>.frame {--frameBg: var(--yellow);</style>

<section>
	<h1>Past Events</h1>

	<p>These are all the events that ran at Sabby... so far!</p>

	<ul class="event-list">
	{% for event in collections.past | reverse %}
		<li> <a href="{{event.url}}">
		<img class="poster-thumb" src="/img/posters/{{ event.data.poster }}"></img></a>
		</li>
	{% endfor %}
	</ul>
</section>
<hr>
<section>
<a class="button" href="/events/">See upcoming events</a>
</section>