---
title: Past Events
layout: base.njk
permalink: /past-events/
---

<style>.frame {--frameBg: var(--yellow);</style>

<section>
	<h1>Past Events</h1>

	These are all the events that ran at Sabby... so far!

	<ul class="event-list">
	{% for event in collections.past | reverse %}
		<li> <a href="{{event.url}}">
		<img class="poster-thumb" src="/img/posters/{{ event.data.poster }}"></img></a>
		</li>
	{% endfor %}
	</ul>
</section>

<hr>

<section class="frame" style="--frameBg: var(--grey)">
	<h1>
		<a href="/events/">See upcoming events.</a>
	</h1>
</section>