---
title: Projects
layout: base.njk
permalink: /projects/
---

<style>.frame {--frameBg: var(--lightgreen);</style>

<section>
	<h1>Past Projects</h1>

	<ul class="project-list">
	{% for project in collections.projects | reverse %}
		<li> 
		<a href="{{project.url}}">
		<!-- TODO: CONVERT TO JPG -->
		<img class="poster-thumb" src="/img/projects/{{ project.data.imgpath }}/thumbnail.webp"></img>
		</a>
		<a href="{{ project.url }}"><p>{{project.data.title}}</p></a>
		</li>
	{% endfor %}
	</ul>
</section>