---
layout: "layouts/base.liquid"
title: "STUFF"
permalink: /stuff.html
eleventyImport:
  collections: ["stuff"]
---

<section class="content">

  {% include "partials/navbar.liquid" %}

  <div class="container-general ver">
    
  </div>
</section>

{% include "partials/footer.liquid" %}