:root {
    --bg-primary: #d6e3f4;
    --bg-secondary: #c9c9f087;
    --bg-tertiary: #f9e8ec;
    --txt-primary: #3A3A5F;
    --txt-secondary: #548954;
    --hr-colour: #ccc;

    background-color: var(--bg-primary);
    color: var(--txt-primary);
    
    font-family: "Bricolage Grotesque";
}

/* 
============================
       MAIN PAGE LAYOUT
============================
*/

body {
    position: absolute;
    left:13rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-bottom: 1rem;
    max-width: 120ch;

    display: flex;
    flex-direction: column;
    
}

.footer {
    text-align: center;
    margin-top: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* 
============================
  ADJUSTMENTS TO BASE TAGS
============================
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--hr-colour);
    margin: 1em 0;
    padding: 0;
}

a {
    color: var(--txt-secondary);
}

/*
============================
  GENERAL PURPOSE CLASSES
============================
*/

.container-general {
    border-radius: 1rem;
    /* border: 3px solid var(--txt-primary); */
    background-color: var(--bg-secondary);
    padding: 1rem;
}

.list-header {
    margin-bottom: 0;
}

/*
============================
  SIDE NAV BAR
============================
*/

.sidenav {
    background-color: var(--bg-secondary);

    height: 100%;
    width: 10rem;
    top: 0;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;

    display: flex;
    flex-direction: column;
}

.sidenav-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

/* .sidenav-item {
    list-style-image: url("../img/star.svg");
} */

.sidenav-item::before {
    content:  url("../img/star.svg");
    display: inline-block;
    vertical-align: middle;
}

.sidenav-link {
    text-decoration: none;
    font-weight: bold;
}

.gooby-view {
    margin-top:auto;
    margin-bottom: 1rem
}