
#calendar-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

#calendar {
	border: 4px solid var(--pink);
	border-radius: 32px;
	box-shadow: -8px 8px var(--pink);

	background-color: var(--yellow);
}

#calendar p {
	padding-inline: 1em;
	max-width: 100%;
	font-size: 0.8em;
}

#calendar p a:hover {
	font-style: italic;
}

#calendar ul {
	margin: 0;
	padding: 1px;

	max-width: 800px;
}

#calendar-title {
	color: var(--pink);
	border-bottom: 4px solid var(--pink);

	width: 100%;
	padding: 1em;
	margin: 0;
}

#calendar-days, #calendar-weekdays {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	background: var(--light);
	color: var(--dark);
}

#calendar-weekdays {
	background: var(--pink);
}

#calendar-weekdays li {
	font-size: 0.75em;
	text-align: center;
}

#calendar li {
	width: calc(100% / 7);
}

#calendar-days li {
	aspect-ratio: 1 / 1;

	border-bottom: 1px dotted var(--yellow);
	border-right: 1px dotted var(--yellow);

	padding-inline: 4px;
}

.day-inactive {
	color: grey;
}

.day-active {
}

.day-current {
	background: red;
}

.calendar-link {
	display: block;
	font-size: 0.7em;
	word-break: break-word;
}