<script src="/js/calendar.js"></script>
<link rel="stylesheet" type="text/css" href="/css/calendar.css">

<div id="calendar-wrapper">
	<div class="calendar">
		<h3 class="calendar-title"> {{ currMonthName }} </h3>
		<table class="calendar-days">
			<thead class="calendar-weekdays">
				<th>Mon*</th>
				<th>Tue*</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri**</th>
				<th>Sat</th>
				<th>Sun</th>
			</thead>
			<tbody>
				{% set x = 0 %}
				<tr>
					{% for day in prevMonthPeek %}
						<td class="day-inactive">{{day}}</td>
						{% set x = x + 1 %}
						{% if x == 7 -%} </tr><tr> {%- set x = 0 %} {% endif %}
					{% endfor %}

					{% for day in currMonthDays -%}
						<td class="day-active">{{- day -}}
						{%- for event in collections.thisMonth -%}
							{%- if getMonth(event.data.date) == currMonth -%}
								{%- if getDate(event.data.date) == day -%}
									<a class="calendar-link" href="{{ event.url }}">{{event.data.title}}</a>
								{%- endif -%}
							{%- endif -%}
						{%- endfor -%}
						</td>
						{% set x = x + 1 %}
						{% if x == 7 -%} </tr><tr> {%- set x = 0 %} {% endif %}
					{% endfor %}

					{% for day in nextMonthPeek %}
						<td class="day-inactive">{{day}}</td>
						{% set x = x + 1 %}
						{% if x == 7 -%} </tr><tr> {%- set x = 0 %} {% endif %}
					{% endfor %}
				</tr>
			</tbody>
		</table>

		<p>*Sabby is open for <a href="/events/coworking">Co-Working</a> every Monday and Tuesday.<br>**Sabby is open for <a href="/events/caretaker/">Caretaker Fridays</a> every Friday.</p>
	</div>

	<p>See what's coming up next month...</p>

	<div class="calendar">
		<h3 class="calendar-title"> {{ nextMonthName }} </h3>
		<table class="calendar-days">
			<thead class="calendar-weekdays">
				<th>Mon*</th>
				<th>Tue*</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri**</th>
				<th>Sat</th>
				<th>Sun</th>
			</thead>
			<tbody>
				{% set x = 0 %}
				<tr>
					{% for day in currMonthPeek %}
						<td class="day-inactive">{{day}}</td>
						{% set x = x + 1 %}
						{% if x == 7 -%} </tr><tr> {%- set x = 0 %} {% endif %}
					{% endfor %}

					{% for day in nextMonthDays -%}
						<td class="day-active">{{- day -}}
						{%- for event in collections.nextMonth -%}
							{%- if getMonth(event.data.date) == nextMonth -%}
								{%- if getDate(event.data.date) == day -%}
									<a class="calendar-link" href="{{ event.url }}">{{event.data.title}}</a>
								{%- endif -%}
							{%- endif -%}
						{%- endfor -%}
						</td>
						{% set x = x + 1 %}
						{% if x == 7 -%} </tr><tr> {%- set x = 0 %} {% endif %}
					{% endfor %}

					{% for day in afterMonthPeek %}
						<td class="day-inactive">{{day}}</td>
						{% set x = x + 1 %}
						{% if x == 7 -%} </tr><tr> {%- set x = 0 %} {% endif %}
					{% endfor %}
				</tr>
			</tbody>
		</table>

		<p>...</p>
	</div>

	<p>Check back later for new events!</p>
</div>