<script src="/js/calendar.js"></script>
<link rel="stylesheet" type="text/css" href="/css/calendar.css">

<div id="calendar-wrapper">
	<div id="calendar">
		<h3 id="calendar-title"> ... </h3>
		<ul id="calendar-weekdays">
			<li>Mon*</li>
			<li>Tue*</li>
			<li>Wed</li>
			<li>Thu</li>
			<li>Fri**</li>
			<li>Sat</li>
			<li>Sun</li>
		</ul>
		<ul id="calendar-days">

		{% for day in prevMonthDays %}
			<li class="day-inactive">{{day}}</li>
		{% endfor %}

		{% for day in currentMonthDays -%}
			<li class="day-active">{{- day -}}
			{%- for event in collections.upcoming -%}
				{%- if getDate(event.data.date) == day -%}
					<a class="calendar-link" href="{{ event.url }}">{{event.data.title}}</a>
				{%- endif -%}
			{%- endfor -%}
			</li>
		{% endfor %}

		{% for day in nextMonthDays %}
			<li class="day-inactive">{{day}}</li>
		{% endfor %}
		</ul>

		<p>*Sabby is open for <a href="/events/coworking">Co-Working</a> every Monday and Tuesday.<br>**Sabby is open for <a href="/events/caretaker/">Caretaker Fridays</a> every Friday.</p>
	</div>
</div>