<head>
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
</head>
<div class="container-general hor navbar" style="justify-content:center">
    <a href="home.html">HOME</a>
    <a href="writing.html">WRITING</a>
    <a href="blog.html">BLOG</a>
    <a href="love.html">LOVE</a>
    <a href="shower.html">SHOWER</a>
    <a href="shower.html">DOOR</a>
  </div>
