<head>
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
</head>
<div class="container-general hor navbar" style="justify-content:center">
    <a href="home.html">Home</a>
    <a href="games.html">Games</a>
    <a href="writing.html">Writing</a>
    <a href="stuff.html">Stuff</a>
  </div>