<head>
    <link rel="stylesheet" type="text/css" href="css/partials/navbar.css">
</head>
<div class="container-general hor navbar" style="justify-content:center">
    <a id="home" href="home.html">[HOME]</p></a>
    <a id="writing" href="writing.html">[WRITING]</a>
    <a id="blog" href="blog.html">[BLOG]</a>
    <a id="love" href="love.html">[LOVE]</a>
    <a id="shower" href="shower.html">[SHOWER]</a>
    <a id="door" href="door.html">[DOOR]</a>
</div>
