<link rel="stylesheet" type="text/css" href="css/sidenav.css">

<section class="sidenav" id="sidenav">
    <h2 class="list-header">Home</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Landing</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">About</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Updates</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Blog</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Contact</a>
        </li>
    </ul>

    <h2 class="list-header">Games</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Johnny Sixgun</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Projects</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Newsletter</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Press Kit</a>
        </li>
    </ul>

    <h2 class="list-header">Makin'</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Fiction</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Thoughts</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Art</a>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Thoughts</a>
        </li>
    </ul>

    <h2 class="list-header">Silly Zone</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Doors</a>      
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Slippy</a>      
        </li>
    </ul>

    <div class="sidenav-credits">
        © Siobhan Dent {{year}}
    </div>

    <script src="/js/gooby.js" type="module"></script>
</section>