<link rel="stylesheet" type="text/css" href="css/sidenav.css">

<section class="sidenav" id="sidenav">
    <h2 class="list-header">&lt;Home&gt;</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Landing</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">About</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Updates</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Blog</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Contact</a>
        <span class="sidenav-link-icon"></span>
        </li>
    </ul>

    <h2 class="list-header">&lt;Games&gt;</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Johnny Sixgun</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Projects</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Newsletter</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Press Kit</a>
        <span class="sidenav-link-icon"></span>
        </li>
    </ul>

    <h2 class="list-header">&lt;Makin&gt;</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Fiction</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Thoughts</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Art</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Thoughts</a>
        <span class="sidenav-link-icon"></span>
        </li>
    </ul>

    <h2 class="list-header">&lt;Silly&gt;</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Doors</a>      
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">Slippy</a>      
        <span class="sidenav-link-icon"></span>
        </li>
    </ul>

    

    <div class="sidenav-credits">
        <div id="gooby-view"></div>
        © Siobhan Dent {{year}}
    </div>

    <script src="/js/gooby.js" type="module"></script>
</section>