<link rel="stylesheet" type="text/css" href="css/sidenav.css">

<section class="sidenav" id="sidenav">
    <h2 class="list-header">&lt;Home&gt;</h2>
    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href="home.html" class="sidenav-link">HOME</a>
        <span class="sidenav-link-icon"></span>
        </li>
    </ul>

    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">WORDS</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">IMAGES</a>
        <span class="sidenav-link-icon"></span>
        </li>
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">MANIFESTO</a>
        <span class="sidenav-link-icon"></span>
        </li>
    </ul>

    <ul class="sidenav-list">
        <li class="sidenav-item">
        <a href=404.html class="sidenav-link">DOORS</a>      
        <span class="sidenav-link-icon"></span>        
        </li>
    </ul>

    

    <div class="sidenav-credits">
        <div id="gooby-view"></div>
        © Siobhan Dent {{year}}
    </div>

    <script src="/js/gooby.js" type="module"></script>
</section>