<section id="socials" class="frame flex-col">
	<h3 style="margin: 4px;">Socials</h3>
	<ul class="flex-child">
		<li><a href="{{ site.link.instagram }}" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
		<li><a href="{{ site.link.twitter }}" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
		<li><a href="{{ site.link.discord }}" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
	</ul>
	<div class="flex-child">
		<p>Follow us on social media and join our Discord!</p>
	</div>
</section>