<section id="links" class="frame flex-col">
	<h3 style="margin: 4px;">Contact</h3>
	<ul class="flex-child">
		<li><a href="{{ site.link.itch }}" target="_blank" aria-label="Link to my itch.io"><i class="fa-brands fa-itch-io"></i></a></li>
		<li><a href="{{ site.link.twitter }}" target="_blank" aria-label="Link to my Twitter"><i class="fa-brands fa-twitter"></i></a></li>
		<li><a href="{{ site.link.linkedin }}" target="_blank" aria-label="Link to my Linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
		<li><a href="{{ site.link.email }}" target="_blank" aria-label="Link to email me"><i class="fa-solid fa-envelope"></i></a></li>
	</ul>
	<div class="flex-child">
		<p>You're welcome to reach out! :)</p>
	</div>
</section>